:host {
    display: block;
    background-color: black;
    min-height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.container {
    background-color: black;
    min-height: 100vh;
    width: 100%;
    color: white;
    padding: 20px;
    box-sizing: border-box;
}